#openMenu {
    position: fixed;
    width: 4em;
    height: 4em;
    bottom: 2.5em;
    right: 2.5em;
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#openMenu:hover {
    animation-name: rotating-plenilune;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 2px solid #fff;
    border-radius: 50%;
}

@keyframes rotating-plenilune {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}